<div style="display: flex; padding: 10px; justify-content: flex-end; align-items: center; gap: 10px;">
  <button type="button" style="padding: 5px 12px;" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
      Thêm sách
    </button>
    <form style="display: flex;" class="form-inline my-2 my-lg-0">
      <div class="dropdown mr-2">
        <div class="dropdown mr-2">
          <select class="form-select" aria-label="select Default" name="sort" >
            <option class="dropdown-item" value="desc" <% if(data.sort === 'desc'){%> selected <% } %>>Mới nhất</option>
            <option class="dropdown-item" value="asc" <% if(data.sort === 'asc'){%> selected  <% } %>>Cũ nhất</option>
          </select>
        </div>
      </div>
        <input class="form-control mr-sm-1" type="search" name="search" placeholder="Tìm tên thể loại" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
  </div>
  
  <table class="table" style="height: fit-content;">
    <thead>
      <tr>
        <th scope="col" class="text-center" style="width: 5%;">STT</th>
        <th scope="col" style="width: 25%;">Tên sách</th>
        <th scope="col" style="width: 20%;">Hình ảnh</th>
        <!-- <th scope="col" style="width: 8%;">Năm XB</th> -->
        <th scope="col" style="width: 30%;">Mô tả</th>
        <th scope="col" style="width: 10%;">SL</th>
        <th scope="col" style="width: 20%;">Tùy chọn</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i=0; i<data.row.length; i++){ %>
        <tr>
          <td scope="row" class="text-center"><%= i+1%></td>
          <td class="text_truncate " style="max-width: 110px;">
            <%= data.row[i].name %>
          </td>
          <td class="text_truncate text-left " style="max-width: 110px;">
            <img style="height: 80px; width: 55px;" src="<%= data.row[i].imgBook %>>" class="rounded" alt="...">
          </td>
       
          <!-- <td class="text_truncate yearOfRelease" style="max-width: 110px;">
            <%= data.row[i].dateBook %>
          </td> -->
          <td class="text_truncate" style="max-width: 110px;">
            <%= data.row[i].desBook %>
          </td>
          <td class="text_truncate" style="max-width: 10px;">
            <%= data.row[i].count %>
          </td>
          <td class="operation_group">
            <i class="fa-solid fa-pen-to-square" data-toggle="modal" data-target="#editModal"></i>
            <i class="fa-solid fa-eye"></i>
            <i class="fa-solid fa-trash-can" data-toggle="modal" data-target="#deleteModal" data-id="<%= data.row[i].id %>"></i>
          </td>
        </tr>
        <% }%>
    </tbody>
  </table>
  
  <% if (data.messageError.length > 0) { %>
    <div class="toast align-items-center text-white bg-danger border-0 position-fixed bottom-0 end-0" style="z-index: 1050;" id="errorToast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          <%= data.messageError %>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  <% } %>
  <% if (data.messageSuccess.length > 0) { %>
    <div class="toast align-items-center text-white bg-primary border-0 position-fixed bottom-0 end-0" style="z-index: 1050;" id="successToast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          <%= data.messageSuccess %>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  <% } %>
  
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
        <% if (data.totalPage > 1) {
            if (data.currentPage > 3) { %>
               <li class="page-item"><a class="page-link" href="/quan-li-sach?sort=<%= data.sort%>&search=<%= data.search%>&page=1"><i class="fa-solid fa-angles-left"></i></a></li>
            <% }
            if (data.currentPage > 1) { %>
              <li class="page-item"><a class="page-link" href="/quan-li-sach?sort=<%= data.sort%>&search=<%= data.search%>&page=<%= data.currentPage-1%>"><i class="fa-solid fa-angle-left"></i></a></li>
            <% }
            for (let i = 1; i <= data.totalPage; i++) {
              if (i == data.currentPage) { %>
                  <li class="page-item active"><a class="page-link" href="#" aria-disabled="true"><%= i %></a></li>
                  <% } else if (i > data.currentPage - 3 && i < data.currentPage + 3) { %>
                  <li class="page-item"><a class="page-link" href="/quan-li-sach?sort=<%= data.sort %>&search=<%= data.search %>&page=<%= i %>"><%= i %></a></li>
                  <%
              }
          }
            if (data.currentPage < data.totalPage) { %>
              <li class="page-item"><a class="page-link" href="/quan-li-sach?sort=<%= data.sort%>&search=<%= data.search%>&page=<%= data.currentPage+1%>"><i class="fa-solid fa-angle-right"></i></a></li>
            <% }
            if (data.currentPage < data.totalPage - 2) { %>
              <li class="page-item"><a class="page-link" href="/quan-li-sach?sort=<%= data.sort%>&search=<%= data.search%>&page=<%= data.totalPage%>"><i class="fa-solid fa-angles-right"></i></a></li>
            <% }
        } %>
      </ul>
  </nav>

  
  <!-- thêm -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Thêm sách</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="/quan-li-sach" enctype="multipart/form-data">
            <div class="form-group">
              <label for="book_name">Tên sách</label>
              <input type="text" class="form-control" name="name" id="book_name" placeholder="Nhập tên..." >
            </div>
            <div class="form-group custom-file">  
                <label for="book_image">Hình ảnh</label>
                <input class="form-control" type="file" name="image" id="book_image">
            </div>
            <div class="form-group mt-4">
              <label for="book_author">Tác giả</label>
              <input type="text" class="form-control" name="author" id="book_author" placeholder="Nhập tác giả" >
            </div>
            <div class="form-group">
              <label for="book_publisher">Nhà xuất bản</label>
              <input type="text" class="form-control" name="publisher" id="book_publisher" placeholder="Nhập nhà xuất bản" >
            </div>
            <div class="form-group">
              <label for="book_yearOfRelease">Ngày xuất bản</label>
              <input type="date" class="form-control" name="dateBook" id="book_yearOfRelease" >
            </div>
            <div class="form-group">
              <label for="book_count">Số lượng</label>
              <input type="number" class="form-control" name="count" id="book_count" >
            </div>
            <div class="form-group">
              <label for="book_category">Thể loại</label>
                <select class="form-select" name="categoryId" id="book_category">
                  <option selected>Chọn thể loại</option>
                  <% data.listCategories.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                    <% })%>
                </select>
            </div>
            <div class="form-group">
              <label for="book_description">Mô tả </label>
              <textarea class="form-control" spellcheck="false" style="resize: none;" placeholder="Nhập mô tả..." name="desBook" id="book_description" rows="5" ></textarea>
            </div>
            <div class="modal-footer" style="border: none;">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
              <button type="submit" class="btn btn-success">Thêm</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- sửa -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Chỉnh sửa thông tin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modal-description"></p>
                <form id="editForm">
                    <div class="form-group">
                        <label for="categoryName">Tên thể loại</label>
                        <input type="text" class="form-control" id="categoryName" >
                    </div>
                    <div class="form-group">
                        <label for="description">Mô tả</label>
                        <textarea class="form-control" id="description" rows="5" style="resize: none;" spellcheck="false" ></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Lưu thay đổi</button>
            </div>
        </div>
    </div>
  </div>
  
  <!-- xóa -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Xóa</button>
            </div>
        </div>
    </div>
    </div>
    

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        
        const showToast = (toastId) => {
          const toastElement = document.getElementById(toastId);
          if (toastElement) {
            const toast = new bootstrap.Toast(toastElement, { autohide: true, delay: 3000 });
            toast.show();
          }
        };
    
        document.querySelectorAll('.fa-pen-to-square').forEach(item => {
          item.addEventListener('click', function () {
            const row = this.closest('tr');
            const updateId = this.getAttribute('data-id');
            const tenTheLoai = row.cells[1].innerText;
            const moTa = row.cells[2].innerText;
    
            document.getElementById('categoryName').value = tenTheLoai;
            document.getElementById('description').value = moTa;
    
            // Xử lý lưu thay đổi
            const saveButton = document.getElementById('saveChanges');
            saveButton.onclick = function () {
              const nameCategory = document.getElementById('categoryName').value;
              const descriptionCategory = document.getElementById('description').value;
              console.log(nameCategory, descriptionCategory);
              
              $('#editModal').modal('hide');
              fetch(`/the-loai/${updateId}`, {
                method: 'PUT',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                  nameCategory,
                  descriptionCategory
                })
              })
                .then(response => {
                  if (response.ok) {
                    showToast('successToast');
                    setTimeout(() => location.reload(), 1000); 
                  } else {
                    showToast('errorToast');
                  }
                })
                .catch(error => {
                  console.error('Error updating category:', error);
                  showToast('errorToast');
                });
            };
          });
        });
    
        // Xử lý sự kiện xóa thể loại
        document.querySelectorAll('.fa-trash-can').forEach(item => {
          item.addEventListener('click', function () {
            const deleteId = this.getAttribute('data-id');
    
            document.getElementById('confirmDelete').onclick = function () {
              $('#deleteModal').modal('hide');
              fetch(`/quan-li-sach/${deleteId}`, {
                method: 'DELETE',
              })
                .then(response => {
                  if (response.ok) {
                    showToast('successToast');
                    location.reload()
                  } else {
                    showToast('errorToast');
                  }
                })
                .catch(error => {
                  console.error('Error deleting category:', error);
                  showToast('errorToast');
                });
            };
          });
        });
    
        // Hiển thị toast ban đầu nếu tồn tại
        showToast('successToast');
        showToast('errorToast');
      });
    </script>