<div style="display: flex; padding: 10px; justify-content: flex-end; align-items: center; gap: 10px;">
  <button type="button" style="padding: 5px 12px;" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
      Thêm sách
    </button>
    <form style="display: flex;" class="form-inline my-2 my-lg-0">
      <div class="dropdown mr-2">
        <div class="dropdown mr-2">
          <select class="form-select" aria-label="select Default" name="sort" >
            <option class="dropdown-item" value="desc" <% if(data.sort === 'desc'){%> selected <% } %>>Mới nhất</option>
            <option class="dropdown-item" value="asc" <% if(data.sort === 'asc'){%> selected  <% } %>>Cũ nhất</option>
          </select>
        </div>
      </div>
        <input class="form-control mr-sm-1" type="search" name="search" placeholder="Tìm theo tên sách" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
  </div>
  
  <table class="table" style="height: fit-content;">
    <thead>
      <tr>
        <th scope="col" class="text-center" style="width: 5%;">STT</th>
        <th scope="col" style="width: 25%;">Tên sách</th>
        <th scope="col" style="width: 20%;">Hình ảnh</th>
        <th scope="col" style="width: 30%;">Mô tả</th>
        <th scope="col" style="width: 10%;">SL</th>
        <th scope="col" style="width: 20%;">Tùy chọn</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i=0; i<data.row.length; i++){ %>
        <tr>
          <td scope="row" class="text-center"><%= i+1%></td>
          <td class="text_truncate " style="max-width: 110px;">
            <%= data.row[i].name %>
          </td>
          <td class="text_truncate text-left " style="max-width: 110px;">
            <a href="<%= data.row[i].imgBook %>" target="_blank">Xem ảnh</a>
           
          </td>
          <!-- <td class="text_truncate yearOfRelease" style="max-width: 110px;">
            <%= data.row[i].dateBook %>
          </td> -->
          <td class="text_truncate" style="max-width: 110px;">
            <%= data.row[i].desBook %>
          </td>
          <td class="text_truncate" style="max-width: 10px;">
            <%= data.row[i].count %>
          </td>
          <td class="operation_group">
            <i class="fa-solid fa-pen-to-square" data-toggle="modal" data-target="#editModal"
            data-id="<%= data.row[i].id %>" data-author="<%= data.row[i].creatorBook%>"
              data-publisher="<%=data.row[i].publisherBook%>"
              data-category="<%=data.row[i].categoryId%>"
            ></i>
            <i class="fa-solid fa-eye" data-toggle="modal" data-target="#detailModal"
            data-author="<%= data.row[i].creatorBook%>"
              data-publisher="<%=data.row[i].publisherBook%>"
              data-category="<%=data.row[i].categoryId%>"
            ></i>
            <i class="fa-solid fa-trash-can" data-toggle="modal" data-target="#deleteModal" data-id="<%= data.row[i].id %>" data-author="<%= data.row[i].creatorBook%>"
              data-publisher="<%=data.row[i].publisherBook%>"
              data-category="<%=data.row[i].categoryId%>"
              ></i>
          </td>
        </tr>
        <% }%>
    </tbody>
  </table>
  
  <% if (data.messageError.length > 0) { %>
    <div class="toast align-items-center text-white bg-danger border-0 position-fixed bottom-0 end-0" style="z-index: 1050;" id="errorToast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          <%= data.messageError %>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  <% } %>
  <% if (data.messageSuccess.length > 0) { %>
    <div class="toast align-items-center text-white bg-primary border-0 position-fixed bottom-0 end-0" style="z-index: 1050;" id="successToast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          <%= data.messageSuccess %>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  <% } %>
  
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
        <% if (data.totalPage > 1) {
            if (data.currentPage > 3) { %>
               <li class="page-item"><a class="page-link" href="/quan-li-sach?sort=<%= data.sort%>&search=<%= data.search%>&page=1"><i class="fa-solid fa-angles-left"></i></a></li>
            <% }
            if (data.currentPage > 1) { %>
              <li class="page-item"><a class="page-link" href="/quan-li-sach?sort=<%= data.sort%>&search=<%= data.search%>&page=<%= data.currentPage-1%>"><i class="fa-solid fa-angle-left"></i></a></li>
            <% }
            for (let i = 1; i <= data.totalPage; i++) {
              if (i == data.currentPage) { %>
                  <li class="page-item active"><a class="page-link" href="#" aria-disabled="true"><%= i %></a></li>
                  <% } else if (i > data.currentPage - 3 && i < data.currentPage + 3) { %>
                  <li class="page-item"><a class="page-link" href="/quan-li-sach?sort=<%= data.sort %>&search=<%= data.search %>&page=<%= i %>"><%= i %></a></li>
                  <%
              }
          }
            if (data.currentPage < data.totalPage) { %>
              <li class="page-item"><a class="page-link" href="/quan-li-sach?sort=<%= data.sort%>&search=<%= data.search%>&page=<%= data.currentPage+1%>"><i class="fa-solid fa-angle-right"></i></a></li>
            <% }
            if (data.currentPage < data.totalPage - 2) { %>
              <li class="page-item"><a class="page-link" href="/quan-li-sach?sort=<%= data.sort%>&search=<%= data.search%>&page=<%= data.totalPage%>"><i class="fa-solid fa-angles-right"></i></a></li>
            <% }
        } %>
      </ul>
  </nav>


  <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Chi tiết sách</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="d-flex gap-3">
            <img style="width: 240px; height: 340px; border-radius: 10px;" src="https://res.cloudinary.com/dz0mm7ify/image/upload/v1732110354/hrp4fdfshvlw90k1hglh.jpg" alt="">
            <div>
              <div class="d-flex gap-3 mb-3">
                <h6 class="modal-title" id="bookNameLabel">Tên sách: </h6>
                <h6 class="modal-title" id="bookNameValue"></h6>
              </div>
              <div class="d-flex gap-3 mb-3">
                <h6 class="modal-title" id="authorLabel">Tác giả: </h6>
                <h6 class="modal-title" id="authorValue"></h6>
              </div>
              <div class="d-flex gap-3 mb-3">
                <h6 class="modal-title" id="categoryLabel">Thể loại: </h6>
                <h6 class="modal-title" id="categoryValue"></h6>
              </div>
              <div class="d-flex gap-3 mb-3">
                <h6 class="modal-title" id="quantityLabel">Số lượng: </h6>
                <h6 class="modal-title" id="quantityValue"></h6>
              </div>
              <div class="d-flex gap-3 mb-3">
                <h6 class="modal-title" id="publisherLabel">Nhà xuất bản: </h6>
                <h6 class="modal-title" id="publisherValue"></h6>
              </div>
              <div class="d-flex gap-3 mb-3">
                <h6 class="modal-title" id="dateAddedLabel">Ngày thêm: </h6>
                <h6 class="modal-title" id="dateAddedValue"></h6>
              </div>
              <div class="d-flex gap-3 mb-3">
                <h6 class="modal-title" id="descriptionLabel">Mô tả chung: </h6>
                <h6 class="modal-title" id="descriptionValue"></h6>
              </div>
            </div>
                    
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- xóa -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Xóa</button>
            </div>
        </div>
    </div>
    </div>
  <!-- thêm -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Thêm sách</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="/quan-li-sach" enctype="multipart/form-data">
            <div class="form-group">
              <label for="book_name">Tên sách</label>
              <input type="text" class="form-control" name="name" id="book_name" placeholder="Nhập tên..." >
            </div>
            <div class="form-group custom-file">  
                <label for="book_image">Hình ảnh</label>
                <input class="form-control" type="file" name="image" id="book_image">
            </div>
            <div class="form-group mt-4">
              <label for="book_author">Tác giả</label>
              <input type="text" class="form-control" name="author" id="book_author" placeholder="Nhập tác giả" >
            </div>
            <div class="form-group">
              <label for="book_publisher">Nhà xuất bản</label>
              <input type="text" class="form-control" name="publisherBook" id="book_publisher" placeholder="Nhập nhà xuất bản" >
            </div>
            <div class="form-group">
              <label for="book_yearOfRelease">Ngày xuất bản</label>
              <input type="date" class="form-control" name="dateBook" id="book_yearOfRelease" >
            </div>
            <div class="form-group">
              <label for="book_count">Số lượng</label>
              <input type="number" class="form-control" name="count" id="book_count" >
            </div>
            <div class="form-group">
              <label for="book_category">Thể loại</label>
                <select class="form-select" name="categoryId" id="book_category">
                  <option selected>Chọn thể loại</option>
                  <% data.listCategories.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                    <% })%>
                </select>
            </div>
            <div class="form-group">
              <label for="book_description">Mô tả </label>
              <textarea class="form-control" spellcheck="false" style="resize: none;" placeholder="Nhập mô tả..." name="desBook" id="book_description" rows="5" ></textarea>
            </div>
            <div class="modal-footer" style="border: none;">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
              <button type="submit" class="btn btn-success">Thêm</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- sửa -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Chỉnh sửa thông tin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <form method="post"  enctype="multipart/form-data" id="update_book_form">
                <div class="form-group">
                  <label for="book_name">Tên sách</label>
                  <input type="text" class="form-control" name="name" id="update_book_name" placeholder="Nhập tên..." >
                </div>
                <div class="form-group custom-file">  
                    <label for="book_image">Hình ảnh</label>
                    <input class="form-control" type="file" name="image" id="update_book_image">
                </div>
                <div class="form-group mt-4">
                  <label for="book_author">Tác giả</label>
                  <input type="text" class="form-control" name="author" id="update_book_author" placeholder="Nhập tác giả" >
                </div>
                <div class="form-group">
                  <label for="book_publisher">Nhà xuất bản</label>
                  <input type="text" class="form-control" name="publisherBook" id="update_book_publisher" placeholder="Nhập nhà xuất bản" >
                </div>
                <div class="form-group">
                  <label for="book_yearOfRelease">Ngày xuất bản</label>
                  <input type="date" class="form-control" name="dateBook" id="update_book_yearOfRelease" >
                </div>
                <div class="form-group">
                  <label for="book_count">Số lượng</label>
                  <input type="number" class="form-control" name="count" id="update_book_count" >
                </div>
                <div class="form-group">
                  <label for="book_category">Thể loại</label>
                    <select class="form-select" name="categoryId" id="update_book_category">
                      <option selected>Chọn thể loại</option>
                      <% data.listCategories.forEach(category => { %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                        <% })%>
                    </select>
                </div>
                <div class="form-group">
                  <label for="book_description">Mô tả </label>
                  <textarea class="form-control" spellcheck="false" style="resize: none;" placeholder="Nhập mô tả..." name="desBook" id="update_book_description" rows="5" ></textarea>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary" id="saveChanges">Lưu thay đổi</button>
            </div>
        </div>
    </div>
  </div>
  
  
  
    

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        
        const showToast = (toastId) => {
          const toastElement = document.getElementById(toastId);
          if (toastElement) {
            const toast = new bootstrap.Toast(toastElement, { autohide: true, delay: 3000 });
            toast.show();
          }
        };

        document.querySelectorAll('.fa-eye').forEach(item => {
          item.addEventListener('click', function () {
            const row = this.closest('tr');

            console.log(row.cells[3].innerText);
            

            // const nameBook = row.cells[1].innerText;
            // const description = row.cells[3].innerText;
            // const count = row.cells[4].innerText;
            // const author = this.getAttribute('data-author');
            // const publisher = this.getAttribute('data-publisher');
            // const categoryId = this.getAttribute('data-category');

            document.querySelector('#bookNameValue').innerText = row.cells[1].innerText
            document.querySelector('#authorValue').innerText = this.getAttribute('data-author')
            document.querySelector('#publisherValue').innerText = this.getAttribute('data-publisher');
            // document.querySelector('#dateAddedValue').innerText = nameBook
            document.querySelector('#quantityValue').innerText = row.cells[4].innerText;
            document.querySelector('#categoryValue').innerText = this.getAttribute('data-category');
            document.querySelector('#descriptionValue').innerText = row.cells[3].innerText;
          });
        });
    
        document.querySelectorAll('.fa-pen-to-square').forEach(item => {
          item.addEventListener('click', function () {
            const row = this.closest('tr');
            const updateId = this.getAttribute('data-id');

            document.querySelector('#update_book_form').action = `/quan-li-sach/cap-nhap/${updateId}`;
            const nameBook = row.cells[1].innerText;
            const description = row.cells[3].innerText;
            const count = row.cells[4].innerText;
            const author = this.getAttribute('data-author');
            const publisher = this.getAttribute('data-publisher');
            const categoryId = this.getAttribute('data-category');

            document.querySelector('#update_book_name').value = nameBook
            document.querySelector('#update_book_author').value = author
            document.querySelector('#update_book_publisher').value = publisher
            document.querySelector('#update_book_yearOfRelease').value = nameBook
            document.querySelector('#update_book_count').value = count
            document.querySelector('#update_book_category').value = categoryId
            document.querySelector('#update_book_description').value = description



            // Xử lý lưu thay đổi
            const saveButton = document.getElementById('saveChanges');
            saveButton.onclick = function () {
                           
              $('#editModal').modal('hide');
              
            };
          });
        });
    
        // Xử lý sự kiện xóa thể loại
        document.querySelectorAll('.fa-trash-can').forEach(item => {
          item.addEventListener('click', function () {
            const deleteId = this.getAttribute('data-id');
            
    
            document.getElementById('confirmDelete').onclick = function () {
              $('#deleteModal').modal('hide');
              fetch(`/quan-li-sach/${deleteId}`, {
                method: 'DELETE',
              })
                .then(response => {
                  if (response.ok) {
                    showToast('successToast');
                    location.reload()
                  } else { 
                    showToast('errorToast');
                  }
                })
                .catch(error => {
                  console.error('Error deleting category:', error);
                  showToast('errorToast');
                });
            };
          });
        });
    
        // Hiển thị toast ban đầu nếu tồn tại
        showToast('successToast');
        showToast('errorToast');
      });
    </script>